/* FloatComponent.module.css */

.floatComponent {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #6495ed;
  z-index: 150;
}

.titulo {
  padding: 1rem;
  font-size: 18px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo p {
  margin: 0;
}

p {
  color: black;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.itemContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  height: 110px;
  width: 150px;
  margin: 1rem;
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 8px; /* Ajusta el valor según lo redondeado que quieras los bordes */
}

.icon {
  font-size: 32px;
  color: tomato;
}
