/* FloatComponent.module.css */

.floatComponent {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 150;
}

.titulo {
  background-color: #0653a5;
  padding: 1rem;
  font-size: 18px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white; /* Ajusta el color del título a blanco */
}

.titulo p {
  margin: 0;
}

.titulo img{
  height: 50px;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: white; /* Ajusta el color del botón cerrar a blanco */
}
.closeButton:focus{
  outline:none
}
.closeButton:hover{
  color: #0653a5;
}

.itemContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #eff1f5;
}

.item {
  height: 80px;
  width: 100px;
  margin: 1rem;
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  font-size: 14px;
  border: solid transparent 2px;
  transition: box-shadow 0.3s ease-in-out;
}

.item:hover{
  border: solid 2px #0653a5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Ajusta el color del texto y de los íconos dentro del bloque blanco */
.item p,
.item i {
  color: black;
}

.item > i {
  color: #0653a5;
  font-size: 36px;
}

.inner{
  border-radius: 50%;
  height: 22px;
  width: 22px;
  background-color: #84ca33;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
}